*, body, .container {
  font-family: "Open Sans", sans-serif; }

h1 {
  margin-top: 0; }

ul {
  margin-bottom: 0; }

nav {
  background-color: #363636;
  color: white; }
  nav a {
    text-decoration: none;
    color: white; }

.logo-home img {
  display: inline-block;
  /* float: left; */
  padding-right: 1vw;
  width: 4vw;
  vertical-align: middle;
  padding: 1vw 1vw 1vw 0; }
.logo-home h1 {
  float: left;
  display: block;
  font-weight: 200;
  font-size: 1.5rem; }

.menu {
  text-transform: uppercase; }
  .menu a {
    position: relative;
    display: block;
    height: 100%;
    width: 100%; }
  .menu a:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 100%;
    background-color: white; }

header {
  position: relative; }

.controls {
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 100%;
  text-align: center;
  vertical-align: middle; }
  .controls div {
    display: inline-block; }
    .controls div img {
      height: 6vh; }

.above-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(75, 130, 216, 0.7);
  text-align: center;
  padding: 5vw 10vw 5vw 10vw;
  color: white; }
  .above-slider h1 {
    font-size: 5rem; }
  .above-slider p {
    font-size: 3rem; }

.services, .features, .downloads, .contribution, .keep-in {
  text-align: center;
  padding-top: 5vw;
  padding-bottom: 5vw; }

.services {
  background-color: #fefefe; }
  .services h1 {
    margin-top: 0; }
  .services ul {
    margin: 0;
    padding: 0; }
  .services li {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0; }
    .services li img {
      height: 15vh; }
    .services li p {
      text-align: center; }

.features {
  background-color: #4b82d8; }
  .features h1 {
    margin-top: 0; }
  .features ul {
    padding-left: 0;
    list-style-type: none;
    padding-bottom: 5vh; }

.downloads {
  background-color: #fefefe; }
  .downloads h1 {
    margin-top: 0; }
  .downloads ul {
    padding-left: 0;
    list-style-type: none;
    padding-bottom: 5vh;
    margin-bottom: 0; }

.contribution {
  background-color: #ffc000; }
  .contribution h1 {
    margin-top: 0; }
  .contribution a {
    margin-bottom: 0; }

.keep-in {
  background-color: #fefefe; }
  .keep-in h1 {
    margin-top: 0; }
  .keep-in ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-bottom: 5vh;
    text-align: center; }
  .keep-in li {
    display: inline-block; }
  .keep-in img {
    height: 3vw; }

footer {
  background-color: #363636;
  color: white; }
  footer ul {
    list-style-type: none;
    padding-left: 0; }
  footer li {
    display: inline-block;
    padding-right: 5vw; }
  footer a {
    color: white;
    text-decoration: none; }

.cat {
  display: block;
  background-color: #fff;
  line-height: 3rem;
  width: fit-content;
  padding: 0 2vw 0 2vw;
  margin: 0 auto 2vw auto;
  text-align: center;
  border-radius: 3rem;
  text-decoration: none;
  color: black; }
  .cat:hover {
    background-color: blue;
    color: white;
    -webkit-transition: background-color .45s ease, color .45s ease;
    -moz-transition: background-color .45s ease, color .45s ease;
    -ms-transition: background-color .45s ease, color .45s ease;
    -o-transition: background-color .45s ease, color .45s ease;
    transition: background-color .45s ease, color .45s ease; }

/*# sourceMappingURL=style.css.map */
